<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse me for a few sedons
            to see my dynamically bound title!
        </span>
    </div>
    <div id="app-3">
        <span v-if="seen">Now you seee me</span>
    </div>
    <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ol>
    </div>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
</body>
<script>
    //message表示
    const app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    })
    //v-bindでclass名を変更する
    const app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'Your loaded this page on ' + new Date().toLocaleString()
        }
    })
    //v-ifでaddclass or removeclass
    const app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    })
    //v-forでtodos配列データの抽出
    const app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: 'Lesson Javascript'},
                { text: 'Learn Vue'},
                { text: 'Build something awesome'}
            ]
        }
    })
    //v-on:clickによって文字列反転
    const app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function() {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })
    //v-modelにより双方向バインディング
    const app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        }
    })

</script>
</html>